                    li: a(href="#") Sub-item 1
                    li: a(href="#") Sub-item 2
                    li: a(href="#") Sub-item 3
                    li: a(href="#") Sub-item 4
                  a(href="#") Subitem 3
                  ul
                li
                li: a(href="#") Subitem 1
                li: a(href="#") Subitem 2
                li: a(href="#") Subitem 4
              a(href="#") Item 1
              ul
            li
            li: a(href="#") Item 2
            li: a(href="#") Item 3
            li: a(href="#") Item 4
            li: a(href="#") Item 5
            li: a(href="#") Item 6
            li: a(href="#") Item 7
          img(src="img/logo.png").logo
          ul.ed-menu.nav-bar.web-horizontal
          | Versión 1.2
        .ed-item
        .ed-item.web-20
        .ed-item.web-80.main-end.cross-center
        a(href="http://escueladigital.pe" target="_blank") Escuela Digital
        a.button.round Este es un boton
        h2 ¿Qué es ED GRID?
        p Con ED GRID puede crear layouts y prototipos responsive con mucha facilidad, con una metodología fácil de aprender.
        p ED GRID 1.2 viene con Flexbox. Adios a los floats
        p ED GRID es un framework para Responsive Web Design construido en español, con Sass y mucho café.
        p Esta versión incluye botones y menús desplegables.
        p Si solo desea ED GRID para incluirlo en un proyecto (y no toda la estructura de carpetas que ha descargado) copie la carpeta scss/ed-grid/ y listo
      .ed-container
      .ed-container
      .ed-item.web-25.abcenter
      .ed-item.web-75
    .ed-container
    header
    link(rel="stylesheet", href="css/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    nav
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
    title
  body
  head
<!DOCTYPE html>
html(lang="es")